@model MVPStream.Models.MvpViewModel
@{
    ViewBag.Title = string.Format("Publicaciones de {0}",Model.Publisher.Nombre);
}
@section meta{
    <meta name="og:image" content="@Model.Publisher.Imagen" />
    <meta name="description" content="Publicaciones de @Model.Publisher.Nombre" />
}
<div class="mvpprofile mdl-typography--text-center" itemscope itemtype="http://schema.org/Person">
     <div class="mvppicture mdl-shadow--3dp" style="background-image:url('@Model.Publisher.Imagen')"></div>
     <div class="clearfix"></div>
     <h1 itemprop="name">@Model.Publisher.Nombre</h1>
     <p><strong>País: </strong> @Model.Publisher.Pais. </p>
     <div>
         @if (!string.IsNullOrEmpty(Model.Publisher.Site))
        {
            <a href="@Model.Publisher.Site" target="_blank" title="Sitio personal de @Model.Publisher.Nombre">                    <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                    </svg>
                </a>
        }
        @if (!string.IsNullOrEmpty(Model.Publisher.Twitter))
        {
            <a href="https://www.twitter.com/@Model.Publisher.Twitter" target="_blank" title="Twitter de @Model.Publisher.Nombre">                    <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                    </svg>
                </a>
        }
        @if (!string.IsNullOrEmpty(Model.Publisher.Facebook))
        {
            <a href="@Model.Publisher.Facebook" target="_blank" title="Facebook de @Model.Publisher.Nombre">                    <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                    </svg>
                </a>
        }
        @if (!string.IsNullOrEmpty(Model.Publisher.LinkedIn))
        {
            <a href="@Model.Publisher.LinkedIn" target="_blank" title="Linkedin de @Model.Publisher.Nombre">                    <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M19,19H16V13.7A1.5,1.5 0 0,0 14.5,12.2A1.5,1.5 0 0,0 13,13.7V19H10V10H13V11.2C13.5,10.36 14.59,9.8 15.5,9.8A3.5,3.5 0 0,1 19,13.3M6.5,8.31C5.5,8.31 4.69,7.5 4.69,6.5A1.81,1.81 0 0,1 6.5,4.69C7.5,4.69 8.31,5.5 8.31,6.5A1.81,1.81 0 0,1 6.5,8.31M8,19H5V10H8M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                    </svg>
                </a>
        }
         </div>
        <div class="clearfix"></div>
</div>


<div class="container">
    <div class="mdl-grid">
            @foreach (var entry in Model.Publicaciones)
            {
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-tablet mdl-cell--4-phone">
                    @Html.DisplayFor(model => entry)
                </div>
            }
    </div>
    <div class="clearfix"></div>
    <nav class="paginatewrapper">
            @if (Model.Page > 1)
            {
                 <a href="@Url.Action("Index", new {  page = Model.Page - 1 })"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect prev paginate">
                Anteriores
            </button></a>
            }
             <a href="@Url.Action("Index", new {  page = Model.Page + 1 })"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect next paginate">
                Más resultados
            </button></a>
            
    </nav>
    <div class="clearfix"></div>
</div>

